<style>
table.scroll {
    width: 100%;  /* Optional */
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    line-height: 30px;
    text-align: center;
}


table.scroll tbody {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}


tbody { border-top: 2px solid black; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

</style>


<!-- ------------------ MAP of San Diego Counties ---------------------- -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="sdmap" style="height: 400px">
      </div>

      <div class="col-md-4">
        <div class="container">
          <table class="scroll">
            <thead>
              <tr class="dataDisplay">

                <th align="center">Community</th>
                <th align="center">Zip Code</th>
             
              </tr>
            </thead>

            <tbody id="zipTable">
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- --------------- END MAP of San Diego Counties --------------------- -->

<br> <!-- SPACE -->




<!-- ---------------------- Enter Zip Code/City ------------------------------ -->
<center>
  <form id="custom-zip">
      <input type="text" placeholder="Enter a Zip Code or City" class="target" />
      <input type="submit" value="View Data" />
  </form>
</center>

<!-- ------------------------ END Zip Code/City ------------------------------ -->

<center>
  <form id="ready">
      <input type="submit" value="View D3 array" />
  </form>  
</center>

<!-- ----------------------- WORD CLOUD -------------------------------- -->

<center>
  <form id="wordCloud">
    <input type="submit" value="View Word Cloud" />
    <div id="WC">
    </div>
  </form>  
</center>

<!-- --------------------- END WORD CLOUD ------------------------------ -->


<div id='dashboard'></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<!-- <script src="js/jquery-2.1.4.min.js"></script> -->
<script src="maps/datamaps/dist/datamaps.none.min.js"></script>
<script src="js/sdcountymap.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/chartd3.js"></script>
<script src="js/wordCloud.js"></script>
<script src="js/tableScroll.js"></script>


<div class="container">
  <h2>RAW Delphi Data</h2>
  <p>San Diego Regional Crimes:</p>
    
  <table class="table table-hover">
    <thead>
      <tr class="dataDisplay">
        <th>Agency</th>
        <th>Charge Description</th>
        <th>Activity Date</th>
        <th>Block Address</th>
        <th>Zip</th>
        <th>Community</th>
      </tr>
    </thead>
    <tbody id="delphi-table">
    </tbody>
  </table>
  <div id="parent">
  </div>
</div>