<!-- ------------------ MAP of San Diego Counties ---------------------- -->

<div class="container">
  <div class="col-md-5 boxthing" id="sdmap" style="height: 330px">
  </div>
</div>

<!-- --------------- END MAP of San Diego Counties --------------------- -->

<br> <!-- SPACE -->




<!-- ---------------------- Enter Zip Code ------------------------------ -->
<center>
  <form id="custom-zip">
      <input type="text" placeholder="Enter a Zip Code" class="target" />
      <input type="submit" value="View Data" />
  </form>
</center>

<!-- ------------------------ END Zip Code ------------------------------ -->

<center>
  <form id="ready">
      <input type="submit" value="View D3 array" />
  </form>  
</center>

<!-- ----------------------- WORD CLOUD -------------------------------- -->

<center>
  <form id="wordCloud">
    <input type="submit" value="View Word Cloud" />
  </form>  
</center>


<canvas id="test" width="1060" height="300" style="border:1px dashed gray;"></canvas>
<canvas id="cloud" width="1060" height="300" style="display: none;"></canvas>

<!-- --------------------- END WORD CLOUD ------------------------------ -->


<div id='dashboard'></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<!-- <script src="js/jquery-2.1.4.min.js"></script> -->
<script src="maps/datamaps/dist/datamaps.none.min.js"></script>
<script src="js/sdcountymap.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/chartd3.js"></script>
<script src="js/wordCloud.js"></script>


<div class="container">
  <h2>RAW Delphi Data</h2>
  <p>San Diego Regional Crimes:</p>
    
  <table class="table table-hover">
    <thead>
      <tr class="dataDisplay">
        <th>Agency</th>
        <th>Charge Description</th>
        <th>Activity Date</th>
        <th>Block Address</th>
        <th>Zip</th>
        <th>Community</th>
      </tr>
    </thead>
    <tbody id="delphi-table">
    </tbody>
  </table>
</div>
