<div class="container">
  <h2>Delphi Data</h2>
  <p>San Diego Regional Crimes:</p>
    
  <table class="table table-hover">
    <thead>
      <tr class="dataDisplay">
        <th>Agency</th>
        <th>Charge Description</th>
        <th>Activity Date</th>
        <th>Block Address</th>
        <th>Zip</th>
        <th>Community</th>
      </tr>
    </thead>
    <tbody id="delphi-table">
    </tbody>
  </table>
</div>